body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 250ms ease-out;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid black;
}

.header-welcome {
  background-color: rgb(255, 255, 255);
  font-size: 2.5em;
  width: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

/* Main */
.main-section {
  display: flex;
  justify-content: space-evenly;
  height: 85%;
  align-items: center;
}

.widget {
  width: 40%;
  height: 70%;
  margin: 1% 1% 0% 1%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 25px;
  overflow: scroll;
}

.widgetTitles {
  background-color: #ffffff;
  font-size: xx-large;
  margin-bottom: 5%;
}

form {
  font-size: x-large;
}

input,
select {
  width: 60%;
  margin: 2% 20%;
  height: 30px;
  font-size: .75em;
}